@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
	background:linear-gradient(50deg,#161616,#18024b);
}
ul{
	display: inline-block;
	list-style-type: none;
	padding: 10px;
	background-color: transparent;	
	cursor: pointer;
	position: fixed;
	left: 860px;
	margin: 10px;
	font-size:medium;
	font-weight:bolder ;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: springgreen;
}
.logo{
	position: fixed;
	top: -10px;
}
li{
	display: inline-block;
	padding: 10px;
}
a{
	color: springgreen;
	text-decoration: none;
	cursor: pointer;
}
li a:hover{
	color: gold;
	padding: 10px;
	border: 3px solid darkmagenta;
	border-radius: 20px;
	background-color: transparent;
}
video{
	max-width: 100%;		
	position: relative;
	z-index: -1;
	bottom: 100px;
}
.content{
	display: inline-block;
}
.flip .content{
	position: relative;
	top: -500px;
	left: 530px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
	color:springgreen;
	font-weight:bolder;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	animation: flip 2s infinite;
	animation-delay: calc(.2s * var(--i));
}
@keyframes flip{
	0%,80%{
		transform: rotateY(360deg);
	}
}
.as{
	font-size: 40px;
	text-align: center;
	top: -200px;
	min-width: 100%;
	min-height: 100%;
	text-transform: uppercase;
	color: #fff;
	position: relative;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* .square{
	height: 500px;
	width: 400px;
	position: relative;
	right:-10px;
	top: -70px;
	background:linear-gradient(90deg,#489be2,#0f629c);
	border:px solid black ;
	border-radius: 40px;
	z-index: -1;
} */
.card {
	width: 300px;
	height: 400px;
	position: relative;
	cursor: pointer;
	right: -50px;
	top: -200px;
  }
  .card::before,
.card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background: #4852e2;
  z-index: -20;
  transition: all 0.4s;
}

.card::before {
  top: 0;
  right: 0;
}

.card::after {
  bottom: 0;
  left: 0;
  background: #110f9c;
}

.card:hover::before {
  width: 50px;
  height: 50px;
  transform: translate(20px, -20px);
  border-radius: 50%;
}

.card:hover::after {
  width: 100px;
  height: 100px;
  transform: translate(-20px, 20px);
  border-radius: 50%;
}
.card .content {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.089);
	backdrop-filter: blur(20px);
	border: 1px solid white;
	color: rgb(199, 197, 197);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.055);
	transition: all 0.4s;
  }
  .card .content p {
	font-size: 1em;
	padding: 0.3em 1.5em;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	position: relative;
	top: -20px;
  }
  
  .card:hover .content {
	color: rgb(255, 255, 255);
  }
.container {
	position: relative;
	width: 250px;
	height: 310px;
	display: grid;
	top: -100px;
	right: -50px;
	border: 1px solid silver;
	border-radius: 40px;
  }
  
  .image {
	opacity: 1;
	display: block;
	width: 500px;
	height: 200px;
	position: relative;
	right: -20px;
	transition: .5s ease;
	backface-visibility: hidden;
  }
  .middle {
	transition: .5s ease;
	opacity: 0;	
	position: absolute;
	top: 100px;
	left: 120px;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: justify;
  }
  .container:hover .image {
	opacity: 0.3;
  }
  .container:hover .middle {
	opacity: 1;
  }
  .text {
	background-color: #04AA6D;
	color: white;
	font-size: 13px;
	position: relative;
	right: -10px;
	top: 50px;
	padding: 10px 10px;
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	text-align: center;
  }
  .middle p{
	  color: #fff;
	  font-size: 14px;
	  text-align: justify;
	  position: relative;
	  top: 60px;
    }
	.name{
		color: #fff;
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		text-align: center;
	}
	.name:hover{
		opacity: 0;
		color: transparent;
	}
	.container1 {
		position: relative;
		width: 250px;
		height: 310px;
		top: -410px;
		right: -380px;
		border: 1px solid silver;
		border-radius: 40px;
	  }
	  .container1:hover .image {
		opacity: 0.3;
	  }
	  .container1:hover .middle {
		opacity: 1;
	  }
	  .container2 {
		position: relative;
		width: 250px;
		height: 310px;
		top: -720px;
		right: -710px;
		border: 1px solid silver;
		border-radius: 40px;
	  }
	  .container2:hover .image {
		opacity: 0.3;
	  }
	  .container2:hover .middle {
		opacity: 1;
	  }
	  .container3 {
		position: relative;
		width: 250px;
		height: 310px;
		top: -1030px;
		right: -1060px;
		border: 1px solid silver;
		border-radius: 40px;
	  }
	  .container3:hover .image {
		opacity: 0.3;
	  }
	  .container3:hover .middle {
		opacity: 1;
	  }
.gaming{
	font-size: 40px;
	text-align: center;
	bottom: 100px;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
